<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575649252184-mob76p8gjij6g1f6ll68uu6a072bas4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575649252184-mob76p8gjij6g1f6ll68uu6a072bas4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDelGZE1mC-eXZrnY4fsks-aGCyCqFmLSw</string>
	<key>GCM_SENDER_ID</key>
	<string>575649252184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominik.tajak.eventFinder</string>
	<key>PROJECT_ID</key>
	<string>event-finder-7b8d2</string>
	<key>STORAGE_BUCKET</key>
	<string>event-finder-7b8d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575649252184:ios:0bdd0a4b6bc84474e99b2d</string>
</dict>
</plist>